In [33]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import pylab

In [34]:
# Load up codebook
pc = pd.DataFrame.from_csv('cap-data/recs2009_public_codebook_simple.csv', index_col= None, encoding = 'utf-8')

In [35]:
# Separate response codes and labels
pc['Response Codes']=[x.split('\r') if type(x) == str else x for x in pc['Response Codes']]
pc['Response Labels']=[x.split('\r') if type(x) == str else x for x in pc['Response Labels']]
pc = pc.ix[:930] # last 3 lines unnecessary

In [36]:
# Imputations are the EIA's guesses at filling in blank forms. Since blanks are few, imputation will be ignored.
no_imp = pc[pc['Variable Description'].str.contains('Imputation flag for') != True]
pc = no_imp

In [56]:
pc[pc['Variable Description'].str.contains('usage')]

,Variable Name,Variable Description,Response Codes,Response Labels,Electricity,Natural Gas,Propane,Fuel Oil,Kerosene
124,AMTMICRO,Microwave usage,"[1, 2, 3, 4, -2]","[Used to cook or reheat most meals and snacks,...",NaN,NaN,NaN,NaN,NaN
252,TVONWD1,Most-used TV usage on weekdays,"[1, 2, 3, 4, 5, -2]","[Less than 1 hour, 1 to 3 hours, 3 to 6 hours,...",OTH_A,NaN,NaN,NaN,NaN
253,TVONWDWATCH1,Most-used TV weekday usage spent playing video...,"[0, 1, 2, 3, 4, -2]","[None, All, Most, Half, Little, Not Applicable]",NaN,NaN,NaN,NaN,NaN
254,TVONWE1,Most-used TV usage on weekends,"[1, 2, 3, 4, 5, -2]","[Less than 1 hour, 1 to 3 hours, 3 to 6 hours,...",OTH_A,NaN,NaN,NaN,NaN
255,TVONWEWATCH1,Most-used TV weekend usage spent playing video...,"[0, 1, 2, 3, 4, -2]","[None, All, Most, Half, Little, Not Applicable]",NaN,NaN,NaN,NaN,NaN
268,TVONWD2,Second most-used TV usage on weekdays,"[1, 2, 3, 4, 5, -2]","[Less than 1 hour, 1 to 3 hours, 3 to 6 hours,...",OTH_A,NaN,NaN,NaN,NaN
269,TVONWDWATCH2,Second most-used TV weekday usage spent playin...,"[0, 1, 2, 3, 4, -2]","[None, All, Most, Half, Little, Not Applicable]",NaN,NaN,NaN,NaN,NaN
270,TVONWE2,Second most-used TV usage on weekends,"[1, 2, 3, 4, 5, -2]","[Less than 1 hour, 1 to 3 hours, 3 to 6 hours,...",OTH_A,NaN,NaN,NaN,NaN
271,TVONWEWATCH2,Second most-used TV weekend usage spent playin...,"[0, 1, 2, 3, 4, -2]","[None, All, Most, Half, Little, Not Applicable]",NaN,NaN,NaN,NaN,NaN
284,TVONWD3,Third most-used TV usage on weekdays,"[1, 2, 3, 4, 5, -2]","[Less than 1 hour, 1 to 3 hours, 3 to 6 hours,...",OTH_A,NaN,NaN,NaN,NaN
285,TVONWDWATCH3,Third most-used TV weekday usage spent playing...,"[0, 1, 2, 3, 4, -2]","[None, All, Most, Half, Little, Not Applicable]",NaN,NaN,NaN,NaN,NaN
286,TVONWE3,Third most-used TV usage on weekends,"[1, 2, 3, 4, 5, -2]","[Less than 1 hour, 1 to 3 hours, 3 to 6 hours,...",OTH_A,NaN,NaN,NaN,NaN
287,TVONWEWATCH3,Third most-used TV weekend usage spent playing...,"[0, 1, 2, 3, 4, -2]","[None, All, Most, Half, Little, Not Applicable]",NaN,NaN,NaN,NaN,NaN
292,TIMEON1,Daily usage of most-used computer,"[1, 2, 3, 4, 5, -2]","[Less than 1 hour, 1 to 3 hours, 3 to 6 hours,...",OTH_B,NaN,NaN,NaN,NaN
297,TIMEON2,Daily usage of second most-used computer,"[1, 2, 3, 4, 5, -2]","[Less than 1 hour, 1 to 3 hours, 3 to 6 hours,...",OTH_B,NaN,NaN,NaN,NaN
302,TIMEON3,Daily usage of third most-used computer,"[1, 2, 3, 4, 5, -2]","[Less than 1 hour, 1 to 3 hours, 3 to 6 hours,...",OTH_B,NaN,NaN,NaN,NaN
839,KWH,"Total Site Electricity usage, in kilowatt-hour...",NaN,[Kilowatt-hours],NaN,NaN,NaN,NaN,NaN
840,KWHSPH,"Electricity usage for space heating, in kilowa...",NaN,[Kilowatt-hours],NaN,NaN,NaN,NaN,NaN
841,KWHCOL,"Electricity usage for air-conditioning, centra...",NaN,[Kilowatt-hours],NaN,NaN,NaN,NaN,NaN
842,KWHWTH,"Electricity usage for water heating, in kilowa...",NaN,[Kilowatt-hours],NaN,NaN,NaN,NaN,NaN
843,KWHRFG,"Electricity usage for refrigerators, in kilowa...",NaN,[Kilowatt-hours],NaN,NaN,NaN,NaN,NaN
844,KWHOTH,Electricity usage for other purposes (all end-...,NaN,[Kilowatt-hours],NaN,NaN,NaN,NaN,NaN
845,BTUEL,"Total Site Electricity usage, in thousand BTU,...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
846,BTUELSPH,"Electricity usage for space heating, in thousa...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
847,BTUELCOL,"Electricity usage for air-conditioning, centra...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
848,BTUELWTH,"Electricity usage for water heating, in thousa...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
849,BTUELRFG,"Electricity usage for refrigerators, in thousa...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
850,BTUELOTH,Electricity usage for other purposes (all end-...,NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
857,CUFEETNG,"Total Natural Gas usage, in hundred cubic feet...",NaN,[Hundred cubic feet of natural gas],NaN,NaN,NaN,NaN,NaN
858,CUFEETNGSPH,"Natural Gas usage for space heating, in hundre...",NaN,[Hundred cubic feet of natural gas],NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
871,GALLONLPWTH,"LPG/Propane usage for water heating, in gallon...",NaN,[Gallons of propane/LPG],NaN,NaN,NaN,NaN,NaN
872,GALLONLPOTH,LPG/Propane usage for other purposes (all end-...,NaN,[Gallons of propane/LPG],NaN,NaN,NaN,NaN,NaN
873,BTULP,"Total LPG/LPG/Propane usage, in thousand BTU, ...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
874,BTULPSPH,"LPG/Propane usage for space heating, in thousa...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
875,BTULPWTH,"LPG/Propane usage for water heating, in thousa...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
876,BTULPOTH,LPG/Propane usage for other purposes (all end-...,NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
881,GALLONFO,"Total Fuel Oil usage, in gallons, 2009",NaN,[Gallons of fuel oil],NaN,NaN,NaN,NaN,NaN
882,GALLONFOSPH,"Fuel Oil usage for space heating, in gallons, ...",NaN,[Gallons of fuel oil],NaN,NaN,NaN,NaN,NaN
883,GALLONFOWTH,"Fuel Oil usage for water heating, in gallons, ...",NaN,[Gallons of fuel oil],NaN,NaN,NaN,NaN,NaN
884,GALLONFOOTH,Fuel Oil usage for other purposes (all end-use...,NaN,[Gallons of fuel oil],NaN,NaN,NaN,NaN,NaN
885,BTUFO,"Total Fuel Oil usage, in thousand BTU, 2009",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
886,BTUFOSPH,"Fuel Oil usage for space heating, in thousand ...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
887,BTUFOWTH,"Fuel Oil usage for water heating, in thousand ...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
888,BTUFOOTH,Fuel Oil usage for other purposes (all end-use...,NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
893,GALLONKER,"Total Kerosene usage, in gallons, 2009",NaN,[Gallons of kerosene],NaN,NaN,NaN,NaN,NaN
894,GALLONKERSPH,"Kerosene usage for space heating, in gallons, ...",NaN,[Gallons of kerosene],NaN,NaN,NaN,NaN,NaN
895,GALLONKERWTH,"Kerosene usage for water heating, in gallons, ...",NaN,[Gallons of kerosene],NaN,NaN,NaN,NaN,NaN
896,GALLONKEROTH,Kerosene usage for other purposes (all end-use...,NaN,[Gallons of kerosene],NaN,NaN,NaN,NaN,NaN
897,BTUKER,"Total Kerosene usage, in thousand BTU, 2009",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
898,BTUKERSPH,"Kerosene usage for space heating, in thousand ...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
899,BTUKERWTH,"Kerosene usage for water heating, in thousand ...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
900,BTUKEROTH,Kerosene usage for other purposes (all end-use...,NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
905,BTUWOOD,"Total Wood usage, in thousand BTU, 2009 (Wood ...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
906,CORDSWD,"Total Wood usage, in cords, 2009 (Wood consump...",NaN,[Cords of wood],NaN,NaN,NaN,NaN,NaN
907,TOTALBTU,"Total usage, in thousand BTU, 2009",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
908,TOTALBTUSPH,"Total usage for space heating, in thousand BTU...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
909,TOTALBTUCOL,"Total usage for air conditioning, in thousand ...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
910,TOTALBTUWTH,"Total usage for water heating, in thousand BTU...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
911,TOTALBTURFG,"Total usage for refrigerators, in thousand BTU...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
912,TOTALBTUOTH,"Total usage for appliances, electronics, light...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN

In [71]:
pc['Response Labels'][0][0].isin('kilowatt')

AttributeError: 'str' object has no attribute 'isin'

In [38]:
# # Separate numeric responses
# num_resp = no_imp[no_imp['Response Codes'].isnull() == True]
# num_resp

In [39]:
# # Separate categorical responses
# cat_resp = no_imp[no_imp['Response Codes'].isnull() == False]
# cat_resp

In [41]:
hold = pc.reset_index()
del hold['index']
hold

,Variable Name,Variable Description,Response Codes,Response Labels,Electricity,Natural Gas,Propane,Fuel Oil,Kerosene
0,DOEID,Unique identifier for each respondent,[00001 - 12083],[Unique identifier for each respondent],NaN,NaN,NaN,NaN,NaN
1,REGIONC,Census Region,"[1, 2, 3, 4]","[Northeast Census Region, Midwest Census Regio...",NaN,NaN,NaN,NaN,NaN
2,DIVISION,Census Division,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[New England Census Division (CT, MA, ME, NH, ...",NaN,NaN,NaN,NaN,NaN
3,REPORTABLE_DOMAIN,Reportable states and groups of states,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[, Connecticut, Maine, New Hampshire, Rhode Is...",NaN,NaN,NaN,NaN,NaN
4,TYPEHUQ,Type of housing unit,"[1, 2, 3, 4, 5]","[Mobile Home, Single-Family Detached, Single-F...",OTH_B,SPH_A,NaN,NaN,NaN
5,NWEIGHT,Final sample weight,NaN,[Final sample weight],NaN,NaN,NaN,NaN,NaN
6,HDD65,"Heating degree days in 2009, base temperature 65F",NaN,"[Heating degree days in 2009, base temperature...","SPH_B, WTH_A",SPH_B,"SPH_B, OTH_B","SPH_B, OTH_B","SPH_B, OTH_B"
7,CDD65,"Cooling degree days in 2009, base temperature 65F",NaN,"[Cooling degree days in 2009, base temperature...",COL_B,NaN,NaN,NaN,NaN
8,HDD30YR,"Heating degree days, 30-year average 1981-2010...",NaN,"[Heating degree days, 30-year average 1981-201...",NaN,NaN,NaN,NaN,NaN
9,CDD30YR,"Cooling degree days, 30-year average 1981-2010...",NaN,"[Cooling degree days, 30-year average 1981-201...",NaN,NaN,NaN,NaN,NaN
10,Climate_Region_Pub,Building America Climate Region (collapsed for...,"[1, 2, 3, 4, 5]","[Very Cold/Cold, Hot-Dry/Mixed-Dry, Hot-Humid,...",NaN,NaN,NaN,NaN,NaN
11,AIA_Zone,"AIA Climate Zone, based on average temperature...","[1, 2, 3, 4, 5]","[Less than 2,000 CDD and greater than 7,000 HD...",SPH_A,SPH_A,NaN,NaN,NaN
12,METROMICRO,Housing unit in Census Metropolitan Statistica...,"[METRO, MICRO, NONE]",[Housing unit in Census Metropolitan Statistic...,NaN,NaN,NaN,NaN,NaN
13,UR,Housing unit classified as urban or rural by C...,"[U, R]","[Urban, Rural]",NaN,NaN,NaN,NaN,NaN
14,KOWNRENT,"Housing unit is owned, rented, or occupied wit...","[1, 2, 3]","[Owned by someone in the household, Rented, Oc...",NaN,NaN,NaN,NaN,NaN
15,CONDCOOP,Housing unit part of condominium or cooperative,"[1, 2, -2]","[Condominium, Cooperative, Not Applicable]",NaN,NaN,NaN,NaN,NaN
16,YEARMADE,Year housing unit was built,[1600 - 2009],[Year housing unit was built],NaN,NaN,NaN,NaN,NaN
17,YEARMADERANGE,Year range when housing unit was built,"[1, 2, 3, 4, 5, 6, 7, 8]","[Before 1950, 1950 to 1959, 1960 to 1969, 1970...",NaN,SPH_A,SPH_A,SPH_A,NaN
18,OCCUPYYRANGE,Year range when household moved in,"[1, 2, 3, 4, 5, 6, 7, 8]","[Before 1950, 1950 to 1959, 1960 to 1969, 1970...",NaN,NaN,NaN,NaN,NaN
19,CONVERSION,Converted 2-4 unit apartment building,"[1, 2, -2]","[Built as an apartment building, Converted int...",NaN,NaN,NaN,NaN,NaN
20,ORIG1FAM,Converted 2-4 unit apartment building was orig...,"[0, 1, -2]","[No, Yes, Not Applicable]",NaN,NaN,NaN,NaN,NaN
21,LOOKLIKE,Converted 2-4 unit apartment building more lik...,"[1, 2, -2]","[More like a single-family house, More like an...",NaN,NaN,NaN,NaN,NaN
22,NUMFLRS,Number of floors in a 5+ unit apartment building,"[1 - 99, -2]","[Number of floors, Not Applicable]",NaN,NaN,NaN,NaN,NaN
23,NUMAPTS,Number of apartment units in a 5+ unit apartme...,"[5 - 995, -2]","[Number of apartment units, Not Applicable]",NaN,NaN,NaN,NaN,NaN
24,WALLTYPE,Major outside wall material,"[1, 2, 3, 4, 5, 6, 7, 8, 9]","[Brick, Wood, Siding (Aluminum, Vinyl, Steel),...",NaN,NaN,NaN,NaN,NaN
25,ROOFTYPE,Major roofing material,"[1, 2, 3, 4, 5, 6, 7, 8, -2]","[Ceramic or Clay Tiles, Wood Shingles/Shakes, ...",NaN,NaN,NaN,NaN,NaN
26,STUDIO,Studio apartment,"[0, 1, -2]","[No, Yes, Not Applicable]",NaN,NaN,NaN,NaN,NaN
27,NAPTFLRS,Number of floors in an apartment (Number of le...,"[1 - 9, -2]","[Number of floors in apartment, Not Applicable]",NaN,NaN,NaN,NaN,NaN
28,STORIES,Number of stories in a single-family home,"[10, 20, 31, 32, 40, 50, -2]","[One story, Two stories, Three stories, Four o...",NaN,NaN,NaN,NaN,NaN
29,TYPEHUQ4,Addition to a mobile home,"[0, 1, -2]","[No, Yes, Not Applicable]",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
542,DOLLARKER,"Total cost of Kerosene, in whole dollars, 2009",NaN,[Dollars],NaN,NaN,NaN,NaN,NaN
543,DOLKERSPH,"Cost of Kerosene for space heating, in whole d...",NaN,[Dollars],NaN,NaN,NaN,NaN,NaN
544,DOLKERWTH,"Cost of Kerosene for water heating, in whole d...",NaN,[Dollars],NaN,NaN,NaN,NaN,NaN
545,DOLKEROTH,Cost of Kerosene for other purposes (all end-u...,NaN,[Dollars],NaN,NaN,NaN,NaN,NaN
546,BTUWOOD,"Total Wood usage, in thousand BTU, 2009 (Wood ...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
547,CORDSWD,"Total Wood usage, in cords, 2009 (Wood consump...",NaN,[Cords of wood],NaN,NaN,NaN,NaN,NaN
548,TOTALBTU,"Total usage, in thousand BTU, 2009",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
549,TOTALBTUSPH,"Total usage for space heating, in thousand BTU...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
550,TOTALBTUCOL,"Total usage for air conditioning, in thousand ...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
551,TOTALBTUWTH,"Total usage for water heating, in thousand BTU...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
552,TOTALBTURFG,"Total usage for refrigerators, in thousand BTU...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
553,TOTALBTUOTH,"Total usage for appliances, electronics, light...",NaN,[Thousand BTU],NaN,NaN,NaN,NaN,NaN
554,TOTALDOL,"Total cost, in whole dollars, 2009",NaN,[Dollars],NaN,NaN,NaN,NaN,NaN
555,TOTALDOLSPH,"Total cost for space heating, in whole dollars...",NaN,[Dollars],NaN,NaN,NaN,NaN,NaN
556,TOTALDOLCOL,"Total cost for air conditioning, in whole doll...",NaN,[Dollars],NaN,NaN,NaN,NaN,NaN
557,TOTALDOLWTH,"Total cost for water heating, in whole dollars...",NaN,[Dollars],NaN,NaN,NaN,NaN,NaN
558,TOTALDOLRFG,"Total cost for refrigerators, in whole dollars...",NaN,[Dollars],NaN,NaN,NaN,NaN,NaN
559,TOTALDOLOTH,"Total cost for appliances, electronics, lighti...",NaN,[Dollars],NaN,NaN,NaN,NaN,NaN
560,KAVALEL,Electricity end uses included in Energy Suppli...,"[1, 2, , 3]",[All end uses applicable to housing unit inclu...,NaN,NaN,NaN,NaN,NaN
561,PERIODEL,Number of days covered by Energy Supplier Surv...,"[1, 2, 3, 4, 5]","[330 days or more, At least 146, but less than...",NaN,NaN,NaN,NaN,NaN
562,SCALEEL,Whether annualized electricity consumption fro...,"[0, 1, , 2, , 3]","[Not scaled down, Scaled down because billing ...",NaN,NaN,NaN,NaN,NaN
563,KAVALNG,Natural gas end uses included in Energy Suppli...,"[1, 2, , 3, -2]",[All end uses applicable to housing unit inclu...,NaN,NaN,NaN,NaN,NaN
564,PERIODNG,Number of days covered by Energy Supplier Surv...,"[1, 2, 3, 4, 5, -2]","[330 days or more, At least 146, but less than...",NaN,NaN,NaN,NaN,NaN
565,SCALENG,Whether annualized natural gas consumption fro...,"[0, 1, , 2, , 3, -2]","[Not scaled down, Scaled down because billing ...",NaN,NaN,NaN,NaN,NaN
566,PERIODLP,Number of days covered by Energy Supplier Surv...,"[1, 2, 5, -2]","[365 days (complete), Less than 365 days (inco...",NaN,NaN,NaN,NaN,NaN
567,SCALELP,Whether annualized LPG/propane consumption fro...,"[0, 1, , 2, , 3, -2]","[Not scaled down, Scaled down because billing ...",NaN,NaN,NaN,NaN,NaN
568,PERIODFO,Number of days covered by Energy Supplier Surv...,"[1, 2, 5, -2]","[365 days (complete), Less than 365 days (inco...",NaN,NaN,NaN,NaN,NaN
569,SCALEFO,Whether annualized fuel oil consumption from E...,"[0, 1, , 2, , 3, -2]","[Not scaled down, Scaled down because billing ...",NaN,NaN,NaN,NaN,NaN
570,PERIODKR,Number of days covered by Energy Supplier Surv...,"[1, 2, 5, -2]","[365 days (complete), Less than 365 days (inco...",NaN,NaN,NaN,NaN,NaN
571,SCALEKER,Whether annualized kerosene consumption from E...,"[0, 1, , 2, , 3, -2]","[Not scaled down, Scaled down because billing ...",NaN,NaN,NaN,NaN,NaN

In [42]:
#Now there are variables that are the same thing with different units. We'll attempt to sort out those duplicates here.

dups = pc.reset_index()
del dups['index']
dups['Split Description']=[x.split(',') for x in dups['Variable Description']]
#dups['Variable Description']=[x.split(',') if x.find(',') != 0 else x for x in dups['Variable Description']]

In [44]:
# dummy = pd.DataFrame(columns = ['full_description','broken_up','first_part'])
dummy = pd.DataFrame(columns = ['first_part'])
# dummy['full_description'] = no_imp['Variable Description']
# dummy['broken_up'] = dups['Variable Description']

i = 0
for cell in dups['Split Description']:
        dummy.loc[len(dummy)] = cell[0]

        

        
dummy['full_description'] = dups['Variable Description']
dummy['broken_up'] = dups['Split Description']
dummy = dummy.sort_values(by = 'first_part')
# dummy = dummy.reset_index()
dummy

,first_part,full_description,broken_up
468,2009 gross household income,2009 gross household income,[2009 gross household income]
11,AIA Climate Zone,"AIA Climate Zone, based on average temperature...","[AIA Climate Zone, based on average temperatu..."
29,Addition to a mobile home,Addition to a mobile home,[Addition to a mobile home]
450,Age category of eighth household member,Age category of eighth household member,[Age category of eighth household member]
453,Age category of eleventh household member,Age category of eleventh household member,[Age category of eleventh household member]
447,Age category of fifth household member,Age category of fifth household member,[Age category of fifth household member]
456,Age category of fourteenth household member,Age category of fourteenth household member,[Age category of fourteenth household member]
446,Age category of fourth household member,Age category of fourth household member,[Age category of fourth household member]
451,Age category of ninth household member,Age category of ninth household member,[Age category of ninth household member]
444,Age category of second household member,Age category of second household member,[Age category of second household member]
449,Age category of seventh household member,Age category of seventh household member,[Age category of seventh household member]
448,Age category of sixth household member,Age category of sixth household member,[Age category of sixth household member]
452,Age category of tenth household member,Age category of tenth household member,[Age category of tenth household member]
445,Age category of third household member,Age category of third household member,[Age category of third household member]
455,Age category of thirteenth household member,Age category of thirteenth household member,[Age category of thirteenth household member]
454,Age category of twelfth household member,Age category of twelfth household member,[Age category of twelfth household member]
298,Age of central air conditioner,Age of central air conditioner,[Age of central air conditioner]
140,Age of clothes dryer,Age of clothes dryer,[Age of clothes dryer]
132,Age of clothes washer,Age of clothes washer,[Age of clothes washer]
122,Age of dishwasher,Age of dishwasher,[Age of dishwasher]
443,Age of householder,Age of householder,[Age of householder]
236,Age of main space heating equipment,Age of main space heating equipment,[Age of main space heating equipment]
112,Age of most-used freezer,Age of most-used freezer,[Age of most-used freezer]
90,Age of most-used refrigerator,Age of most-used refrigerator,[Age of most-used refrigerator]
312,Age of most-used window/wall air conditioning ...,Age of most-used window/wall air conditioning ...,[Age of most-used window/wall air conditioning...
119,Age of second most-used freezer,Age of second most-used freezer,[Age of second most-used freezer]
99,Age of second most-used refrigerator,Age of second most-used refrigerator,[Age of second most-used refrigerator]
105,Age of third most-used refrigerator,Age of third most-used refrigerator,[Age of third most-used refrigerator]
290,Air conditioning equipment used,Air conditioning equipment used,[Air conditioning equipment used]
54,All or partial attic cooling,All or partial attic cooling,[All or partial attic cooling]
...,...,...,...
422,Who pays for propane,Who pays for propane,[Who pays for propane]
346,Windows replaced by this household,Windows replaced by this household,[Windows replaced by this household]
212,Wireless internet in home,Wireless internet in home,[Wireless internet in home]
368,Wood is used in home,Wood is used in home,[Wood is used in home]
429,Wood logs used,Wood logs used,[Wood logs used]
431,Wood pellets used,Wood pellets used,[Wood pellets used]
430,Wood scraps used,Wood scraps used,[Wood scraps used]
398,Wood used,"Wood used, other than for space heating or wat...","[Wood used, other than for space heating or w..."
396,Wood used for secondary space heating,Wood used for secondary space heating,[Wood used for secondary space heating]
395,Wood used for space heating,Wood used for space heating,[Wood used for space heating]
397,Wood used for water heating,Wood used for water heating,[Wood used for water heating]
16,Year housing unit was built,Year housing unit was built,[Year housing unit was built]
351,Year of added insulation,Year of added insulation,[Year of added insulation]
353,Year of assistance for added insulation,Year of assistance for added insulation,[Year of assistance for added insulation]
358,Year of assistance for caulking or weather str...,Year of assistance for caulking or weather str...,[Year of assistance for caulking or weather st...
301,Year of assistance for central air conditioner,Year of assistance for central air conditioner,[Year of assistance for central air conditioner]
126,Year of assistance for dishwasher,Year of assistance for dishwasher,[Year of assistance for dishwasher]
341,Year of assistance for energy-efficient light ...,Year of assistance for energy-efficient light ...,[Year of assistance for energy-efficient light...
362,Year of assistance for home energy audit,Year of assistance for home energy audit,[Year of assistance for home energy audit]
239,Year of assistance for main space heating equi...,Year of assistance for main space heating equi...,[Year of assistance for main space heating equ...
115,Year of assistance for most-used freezer,Year of assistance for most-used freezer,[Year of assistance for most-used freezer]
94,Year of assistance for most-used refrigerator,Year of assistance for most-used refrigerator,[Year of assistance for most-used refrigerator]
316,Year of assistance for most-used window/wall a...,Year of assistance for most-used window/wall a...,[Year of assistance for most-used window/wall ...
136,Year of assistance for the clothes washer,Year of assistance for the clothes washer,[Year of assistance for the clothes washer]
348,Year of assistance for window replacement,Year of assistance for window replacement,[Year of assistance for window replacement]
356,Year of caulking or weather stripping,Year of caulking or weather stripping,[Year of caulking or weather stripping]
360,Year of home energy audit,Year of home energy audit,[Year of home energy audit]
285,Year of the assistance for purchasing the wate...,Year of the assistance for purchasing the wate...,[Year of the assistance for purchasing the wat...
18,Year range when household moved in,Year range when household moved in,[Year range when household moved in]
17,Year range when housing unit was built,Year range when housing unit was built,[Year range when housing unit was built]

In [45]:
# This weeds out parameters that are repeated with different units
first_repeats = pd.DataFrame(columns = ['full_description','first_part'])

i = 0
for cell in dummy.first_part:
    if i < 571:
        if cell == dummy.first_part.iloc[i+1]:
            first_repeats.loc[len(first_repeats)] = [dummy.full_description.iloc[i], dummy.first_part.iloc[i]]
    i = i + 1

In [46]:
first_repeats

,full_description,first_part
0,"Electricity usage for air-conditioning, centra...",Electricity usage for air-conditioning
1,Electricity usage for other purposes (all end-...,Electricity usage for other purposes (all end-...
2,"Electricity usage for refrigerators, in kilowa...",Electricity usage for refrigerators
3,"Electricity usage for space heating, in kilowa...",Electricity usage for space heating
4,"Electricity usage for water heating, in thousa...",Electricity usage for water heating
5,Fuel Oil usage for other purposes (all end-use...,Fuel Oil usage for other purposes (all end-use...
6,"Fuel Oil usage for space heating, in gallons, ...",Fuel Oil usage for space heating
7,"Fuel Oil usage for water heating, in thousand ...",Fuel Oil usage for water heating
8,Kerosene usage for other purposes (all end-use...,Kerosene usage for other purposes (all end-use...
9,"Kerosene usage for space heating, in gallons, ...",Kerosene usage for space heating
10,"Kerosene usage for water heating, in thousand ...",Kerosene usage for water heating
11,LPG/Propane usage for other purposes (all end-...,LPG/Propane usage for other purposes (all end-...
12,"LPG/Propane usage for space heating, in thousa...",LPG/Propane usage for space heating
13,"LPG/Propane usage for water heating, in thousa...",LPG/Propane usage for water heating
14,Natural Gas usage for other purposes (all end-...,Natural Gas usage for other purposes (all end-...
15,"Natural Gas usage for space heating, in hundre...",Natural Gas usage for space heating
16,"Natural Gas usage for water heating, in hundre...",Natural Gas usage for water heating
17,"Total Fuel Oil usage, in gallons, 2009",Total Fuel Oil usage
18,"Total Kerosene usage, in gallons, 2009",Total Kerosene usage
19,"Total Natural Gas usage, in thousand BTU, 2009",Total Natural Gas usage
20,"Total Site Electricity usage, in thousand BTU,...",Total Site Electricity usage
21,"Total Wood usage, in thousand BTU, 2009 (Wood ...",Total Wood usage

In [49]:
# Now drop identified duplicate columns from codebook
pc['Variable Description']  first_repeats.full_description

ValueError: Series lengths must match to compare

In [14]:
# Load up data
data = pd.DataFrame.from_csv('cap-data/recs2009_public.csv', index_col = None, encoding = 'utf-8')