# Looking at RECS

 Data are the responses from the 2009 Residential Energy Consumption Survey from the EIA: http://www.eia.gov/consumption/residential/
 
 Similar data is available for every four years since 1979

Goal: inform policy makers on where and what type of housing units that can most effectively boost residential energy efficiency in the US.

In [33]:
%matplotlib inline
import pandas as pd
import numpy as np
#import openpyxl

## See public_layout.csv file

In [26]:
pl = pd.DataFrame.from_csv('cap-data/public_layout.csv',index_col=None, 
                            encoding = 'utf-8')

In [27]:
pl.size

4655

## See recs2009_public.csv file

In [28]:
rp = pd.DataFrame.from_csv('cap-data/recs2009_public.csv', index_col = None, encoding = 'utf-8')

In [29]:
rp.head()

,DOEID,REGIONC,DIVISION,REPORTABLE_DOMAIN,TYPEHUQ,NWEIGHT,HDD65,CDD65,HDD30YR,CDD30YR,...,SCALEEL,KAVALNG,PERIODNG,SCALENG,PERIODLP,SCALELP,PERIODFO,SCALEFO,PERIODKR,SCALEKER
0,1,2,4,12,2,2471.679705,4742,1080,4953,1271,...,0,-2,-2,-2,-2,-2,-2,-2,-2,-2
1,2,4,10,26,2,8599.172010,2662,199,2688,143,...,0,1,1,0,-2,-2,-2,-2,-2,-2
2,3,1,1,1,5,8969.915921,6233,505,5741,829,...,0,3,5,3,-2,-2,-2,-2,-2,-2
3,4,2,3,7,2,18003.639600,6034,672,5781,868,...,3,3,5,3,-2,-2,-2,-2,-2,-2
4,5,1,1,1,3,5999.605242,5388,702,5313,797,...,0,1,1,0,-2,-2,-2,-2,-2,-2

## See recs2009_public_codebook.xlsx file

In [30]:
# Converted .xlsx to .csv, but is there a way to read in an excel file such that the 
# Response Codes and Labels and Code Descriptions come out cleaner and separated?
pc = pd.DataFrame.from_csv('cap-data/recs2009_public_codebook.csv', index_col = 0, encoding = 'utf-8')

In [31]:
pc.head(20)

,Variable Description,Response Codes and Labels,Code Desciption
Variable Name,,,
DOEID,Unique identifier for each respondent,00001 - 12083,Unique identifier for each respondent
REGIONC,Census Region,1\r2\r3\r4,Northeast Census Region\rMidwest Census Region...
DIVISION,Census Division,1\r2\r3\r4\r5\r6\r7\r8\r9\r10,"New England Census Division (CT, MA, ME, NH, R..."
REPORTABLE_DOMAIN,Reportable states and groups of states,1\r2\r3\r4\r5\r6\r7\r8\r9\r10\r11\r12\r13\r14\...,"\rConnecticut, Maine, New Hampshire, Rhode Isl..."
TYPEHUQ,Type of housing unit,1\r2\r3\r4\r5,Mobile Home\rSingle-Family Detached\rSingle-Fa...
NWEIGHT,Final sample weight,NaN,Final sample weight
HDD65,"Heating degree days in 2009, base temperature 65F",NaN,"Heating degree days in 2009, base temperature 65F"
CDD65,"Cooling degree days in 2009, base temperature 65F",NaN,"Cooling degree days in 2009, base temperature 65F"
HDD30YR,"Heating degree days, 30-year average 1981-2010...",NaN,"Heating degree days, 30-year average 1981-2010..."
CDD30YR,"Cooling degree days, 30-year average 1981-2010...",NaN,"Cooling degree days, 30-year average 1981-2010..."
Climate_Region_Pub,Building America Climate Region (collapsed for...,1\r2\r3\r4\r5,Very Cold/Cold\rHot-Dry/Mixed-Dry\rHot-Humid\r...
AIA_Zone,"AIA Climate Zone, based on average temperature...",1\r2\r3\r4\r5,"Less than 2,000 CDD and greater than 7,000 HDD..."
METROMICRO,Housing unit in Census Metropolitan Statistica...,METRO\rMICRO\rNONE,Housing unit in Census Metropolitan Statistica...
UR,Housing unit classified as urban or rural by C...,U\rR,Urban\rRural
KOWNRENT,"Housing unit is owned, rented, or occupied wit...",1\r2\r3,Owned by someone in the household\rRented\rOcc...
CONDCOOP,Housing unit part of condominium or cooperative,1\r2\r-2,Condominium\rCooperative\rNot Applicable
YEARMADE,Year housing unit was built,1600 - 2009,Year housing unit was built
YEARMADERANGE,Year range when housing unit was built,1\r2\r3\r4\r5\r6\r7\r8,Before 1950\r1950 to 1959\r1960 to 1969\r1970 ...
OCCUPYYRANGE,Year range when household moved in,1\r2\r3\r4\r5\r6\r7\r8,Before 1950\r1950 to 1959\r1960 to 1969\r1970 ...
CONVERSION,Converted 2-4 unit apartment building,1\r2\r-2,Built as an apartment building\rConverted into...

In [32]:
pc.loc['DOEID',]

Variable Description         Unique identifier for each respondent
Response Codes and Labels                            00001 - 12083
Code Desciption              Unique identifier for each respondent
Name: DOEID, dtype: object

In [34]:
np.arange(1979,2009,4)

array([1979, 1983, 1987, 1991, 1995, 1999, 2003, 2007])

# Looking at Largest Dataset for Global Energy Forecasting Competition

In [35]:
test = pd.DataFrame.from_csv('cap-data/Load_history.csv',index_col=None, 
                            encoding = 'utf-8')

In [36]:
test.head(30)

,zone_id,year,month,day,h1,h2,h3,h4,h5,h6,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,1,2004,1,1,"16,853","16,450","16,517","16,873","17,064","17,727",...,"13,518","13,138","14,130","16,809","18,150","18,235","17,925","16,904","16,162","14,750"
1,1,2004,1,2,"14,155","14,038","14,019","14,489","14,920","16,072",...,"16,127","15,448","15,839","17,727","18,895","18,650","18,443","17,580","16,467","15,258"
2,1,2004,1,3,"14,439","14,272","14,109","14,081","14,775","15,491",...,"13,507","13,414","13,826","15,825","16,996","16,394","15,406","14,278","13,315","12,424"
3,1,2004,1,4,"11,273","10,415","9,943","9,859","9,881","10,248",...,"14,207","13,614","14,162","16,237","17,430","17,218","16,633","15,238","13,580","11,727"
4,1,2004,1,5,"10,750","10,321","10,107","10,065","10,419","12,101",...,"13,845","14,350","15,501","17,307","18,786","19,089","19,192","18,416","17,006","16,018"
5,1,2004,1,6,"15,742","15,682","16,132","16,761","17,909","20,234",...,"18,762","19,162","21,509","25,314","28,060","28,768","28,919","28,653","27,406","26,507"
6,1,2004,1,7,"26,014","26,447","27,286","27,923","29,130","31,503",...,"20,617","21,013","23,676","27,329","29,685","29,838","29,806","28,704","27,069","25,708"
7,1,2004,1,8,"25,104","25,122","25,464","25,715","26,219","28,552",...,"22,421","22,883","24,436","26,555","27,394","27,486","26,890","25,529","23,869","22,278"
8,1,2004,1,9,"21,175","21,056","21,241","22,062","23,026","25,610",...,"24,955","24,932","25,497","27,668","28,784","28,113","27,311","26,327","24,967","23,824"
9,1,2004,1,10,"23,405","23,507","24,067","24,786","25,418","26,631",...,"22,257","22,457","23,909","27,515","29,526","30,073","30,858","30,698","30,208","30,056"
10,1,2004,1,11,"30,404","31,248","32,423","33,580","34,564","36,114",...,"21,345","21,376","22,021","25,327","27,099","27,045","26,942","25,751","24,813","23,683"
11,1,2004,1,12,"22,937","22,999","22,895","23,236","23,658","25,624",...,"14,436","14,126","15,495","18,489","20,561","21,313","21,503","20,629","18,797","17,698"
12,1,2004,1,13,"17,264","17,243","17,489","17,879","18,426","20,744",...,"13,919","13,972","14,979","18,117","20,792","21,363","21,464","20,611","19,135","18,118"
13,1,2004,1,14,"17,783","18,038","18,682","19,462","21,065","23,642",...,"15,019","15,349","17,316","20,734","22,894","23,031","22,949","22,076","20,389","18,333"
14,1,2004,1,15,"17,139","16,644","16,204","16,466","17,334","19,731",...,"16,517","17,013","18,883","22,288","24,964","25,613","26,114","25,584","24,053","22,958"
15,1,2004,1,16,"22,681","22,975","23,559","24,192","25,637","27,554",...,"18,015","17,946","19,696","22,812","24,843","25,042","25,036","24,419","23,744","23,057"
16,1,2004,1,17,"22,292","22,323","22,478","23,042","23,347","23,842",...,"19,599","20,013","20,765","21,958","22,527","22,225","21,671","20,271","19,215","18,218"
17,1,2004,1,18,"17,446","17,085","16,853","17,016","16,781","16,975",...,"19,158","18,821","19,007","20,435","21,937","22,022","21,956","21,109","20,770","19,869"
18,1,2004,1,19,"19,245","19,527","20,073","20,864","22,124","24,085",...,"19,990","20,519","21,669","25,628","28,753","30,086","30,222","29,701","28,403","26,964"
19,1,2004,1,20,"26,521","26,851","27,398","28,007","29,211","31,858",...,"20,349","20,844","22,251","25,392","28,411","29,130","29,458","28,556","27,282","25,883"
20,1,2004,1,21,"25,282","25,317","25,516","25,855","26,912","29,155",...,"23,227","21,458","21,949","25,327","28,061","28,464","28,434","27,586","25,937","24,564"
21,1,2004,1,22,"24,129","24,366","24,805","25,171","25,830","27,714",...,"17,268","17,985","18,805","21,540","23,891","24,434","24,473","23,842","17,480","16,273"
22,1,2004,1,23,"24,281","22,358","24,547","25,616","26,910","28,976",...,"19,565","19,472","21,133","23,621","25,432","25,510","25,175","24,033","22,690","21,594"
23,1,2004,1,24,"20,787","20,836","21,184","21,166","21,440","22,006",...,"17,809","17,662","18,039","20,305","22,449","22,909","22,977","22,759","22,652","21,832"
24,1,2004,1,25,"22,069","22,236","23,211","23,581","24,469","25,694",...,"32,907","33,128","33,535","34,977","35,476","35,306","34,154","32,955","31,286","30,325"
25,1,2004,1,26,"29,921","29,954","30,398","30,821","31,144","31,969",...,"30,768","30,549","30,869","32,066","31,941","30,786","29,577","28,187","26,454","25,513"
26,1,2004,1,27,"24,800","24,637","24,887","24,714","25,426","26,120",...,"25,604","25,439","26,266","27,896","28,768","28,220","27,686","26,485","25,474","24,370"
27,1,2004,1,28,"24,246","24,903","25,599","26,220","27,162","29,358",...,"22,577","22,096","22,867","25,737","28,269","28,224","27,866","26,833","25,297","24,314"
28,1,2004,1,29,"23,687","23,477","23,531","23,809","24,411","25,880",...,"17,072","17,149","18,219","21,105","23,555","24,155","24,117","23,399","21,737","20,490"
29,1,2004,1,30,"19,696","19,593","19,898","20,220","21,049","22,845",...,"18,560","20,459","22,737","25,064","27,678","28,121","28,645","28,492","28,191","27,794"