In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import pylab

In [2]:
# Load up codebook
pc = pd.DataFrame.from_csv('cap-data/recs2009_public_codebook_simple.csv', index_col= None, encoding = 'utf-8')

In [3]:
# Separate response codes and labels
pc['Response Codes']=[x.split('\r') if type(x) == str else x for x in pc['Response Codes']]
pc['Response Labels']=[x.split('\r') if type(x) == str else x for x in pc['Response Labels']]
pc = pc.ix[:930] # last 3 lines unnecessary
pc.tail()

,Variable Name,Variable Description,Response Codes,Response Labels,Electricity,Natural Gas,Propane,Fuel Oil,Kerosene
926,SCALELP,Whether annualized LPG/propane consumption fro...,"[0, 1, , 2, , 3, -2]","[Not scaled down, Scaled down because billing ...",NaN,NaN,NaN,NaN,NaN
927,PERIODFO,Number of days covered by Energy Supplier Surv...,"[1, 2, 5, -2]","[365 days (complete), Less than 365 days (inco...",NaN,NaN,NaN,NaN,NaN
928,SCALEFO,Whether annualized fuel oil consumption from E...,"[0, 1, , 2, , 3, -2]","[Not scaled down, Scaled down because billing ...",NaN,NaN,NaN,NaN,NaN
929,PERIODKR,Number of days covered by Energy Supplier Surv...,"[1, 2, 5, -2]","[365 days (complete), Less than 365 days (inco...",NaN,NaN,NaN,NaN,NaN
930,SCALEKER,Whether annualized kerosene consumption from E...,"[0, 1, , 2, , 3, -2]","[Not scaled down, Scaled down because billing ...",NaN,NaN,NaN,NaN,NaN

In [4]:
# Imputations are the EIA's guesses at filling in blank forms. Since blanks are few, imputation will be ignored.
# (Come up with better reaosn to ignore imputation error)
no_imp = pc[pc['Variable Description'].str.contains('Imputation flag for') != True]
no_imp.head()

,Variable Name,Variable Description,Response Codes,Response Labels,Electricity,Natural Gas,Propane,Fuel Oil,Kerosene
0,DOEID,Unique identifier for each respondent,[00001 - 12083],[Unique identifier for each respondent],NaN,NaN,NaN,NaN,NaN
1,REGIONC,Census Region,"[1, 2, 3, 4]","[Northeast Census Region, Midwest Census Regio...",NaN,NaN,NaN,NaN,NaN
2,DIVISION,Census Division,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[New England Census Division (CT, MA, ME, NH, ...",NaN,NaN,NaN,NaN,NaN
3,REPORTABLE_DOMAIN,Reportable states and groups of states,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[, Connecticut, Maine, New Hampshire, Rhode Is...",NaN,NaN,NaN,NaN,NaN
4,TYPEHUQ,Type of housing unit,"[1, 2, 3, 4, 5]","[Mobile Home, Single-Family Detached, Single-F...",OTH_B,SPH_A,NaN,NaN,NaN

In [5]:
# Load up microdata
data = pd.DataFrame.from_csv('cap-data/recs2009_public.csv', index_col = None, encoding = 'utf-8')
data.head(3)

,DOEID,REGIONC,DIVISION,REPORTABLE_DOMAIN,TYPEHUQ,NWEIGHT,HDD65,CDD65,HDD30YR,CDD30YR,...,SCALEEL,KAVALNG,PERIODNG,SCALENG,PERIODLP,SCALELP,PERIODFO,SCALEFO,PERIODKR,SCALEKER
0,1,2,4,12,2,2471.679705,4742,1080,4953,1271,...,0,-2,-2,-2,-2,-2,-2,-2,-2,-2
1,2,4,10,26,2,8599.172010,2662,199,2688,143,...,0,1,1,0,-2,-2,-2,-2,-2,-2
2,3,1,1,1,5,8969.915921,6233,505,5741,829,...,0,3,5,3,-2,-2,-2,-2,-2,-2

In [6]:
# Sort out data from micro data that has numerical responses
num_data = data[data.columns[[num_resp.index]]]
num_data.head()

NameError: name 'num_resp' is not defined