# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [36]:
import pandas as pd
import numpy as np

## imports for Python, Pandas

In [37]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [38]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [39]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [40]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population shortname    state info.governor
0        Dade       12345        FL  Florida    Rick Scott
1     Broward       40000        FL  Florida    Rick Scott
2  Palm Beach       60000        FL  Florida    Rick Scott
3      Summit        1234        OH     Ohio   John Kasich
4    Cuyahoga        1337        OH     Ohio   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [41]:
# load json as string
json.load((open('data/world_bank_projects_less.json')));

In [42]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

### Load and Examine Dataset

In [43]:
json.load((open('data/world_bank_projects.json')));

In [44]:
ndata = pd.read_json('data/world_bank_projects.json')
ndata.head(1)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...

### Exercise 1: Find the 10 Projects with Most Projects

In [45]:
ndata.countryname.value_counts().head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Nepal                              12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

### Exercise 2: Find the top 10 major project themes (using column 'mjtheme_namecode')

In [46]:
ndata['mj_names'] = [x[0]['name'] for x in ndata['mjtheme_namecode']]

In [47]:
ndata.mj_names.value_counts().head(10)

Environment and natural resources management    85
Human development                               72
Public sector governance                        64
Social protection and risk management           57
Rural development                               56
Financial and private sector development        53
Social dev/gender/inclusion                     43
Trade and integration                           25
Urban development                               23
Economic management                             11
Name: mj_names, dtype: int64

In [48]:
#ndata.mjtheme_namecode = [x[0]['name'] for x in ndata.mjtheme_namecode]

In [49]:
## ndata.mjtheme_namecode
## ndata.mjtheme_namecode[0][0]['code']
#ndata.mjtheme_namecode.value_counts().head(10)

In [50]:
#type(ndata.mjtheme_namecode)

### Exercise 3: In 2 above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [51]:
ndata['mj_code'] = [x[0]['code'] for x in ndata['mjtheme_namecode']]

In [52]:
mj = ndata[['mj_names', 'mj_code']]

In [53]:
missing = mj[mj.mj_names == '']
missing

    mj_names mj_code
12                 4
67                 7
87                11
102                2
103               11
121                9
169                2
276               10
469               11

In [54]:
givenData = mj[mj.mj_names != '']

In [55]:
givenData = givenData.drop_duplicates()

In [56]:
tr = givenData.set_index('mj_code').T.to_dict('list')

In [57]:
for i in range(0,len(mj.mj_code)):
    if mj.mj_names[i] == '':
        mj.mj_names[i] = tr[str(mj.mj_code[i])][0]

/Users/appledelete/anaconda/envs/Learning/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2869: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [58]:
# check
missing = mj[mj.mj_names == '']
missing

Empty DataFrame
Columns: [mj_names, mj_code]
Index: []

In [59]:
mj.sort_values(by = 'mj_code')

                mj_names mj_code
419  Economic management       1
159  Economic management       1
94   Economic management       1
220  Economic management       1
83   Economic management       1
270  Economic management       1
357  Economic management       1
363  Economic management       1
129  Economic management       1
409  Economic management       1
1    Economic management       1
276    Rural development      10
287    Rural development      10
183    Rural development      10
181    Rural development      10
482    Rural development      10
297    Rural development      10
299    Rural development      10
438    Rural development      10
491    Rural development      10
53     Rural development      10
308    Rural development      10
309    Rural development      10
310    Rural development      10
8      Rural development      10
319    Rural development      10
97     Rural development      10
447    Rural development      10
228    Rural development      10
230    Rural development      10
..                   ...     ...
296    Human development       8
295    Human development       8
285    Human development       8
54     Human development       8
262    Human development       8
23     Human development       8
66     Urban development       9
74     Urban development       9
21     Urban development       9
489    Urban development       9
229    Urban development       9
121    Urban development       9
372    Urban development       9
370    Urban development       9
432    Urban development       9
316    Urban development       9
313    Urban development       9
440    Urban development       9
275    Urban development       9
115    Urban development       9
449    Urban development       9
252    Urban development       9
250    Urban development       9
221    Urban development       9
205    Urban development       9
195    Urban development       9
474    Urban development       9
157    Urban development       9
253    Urban development       9
499    Urban development       9

[500 rows x 2 columns]

### Examples

In [60]:
#a = [1, 2, 3, 4, 5]
a = list(range(1,6))
print(a)

[1, 2, 3, 4, 5]

In [61]:
a = [x**2 for x in a]